@use "~scss/variables" as *;

.icon-link {
  display: inline-flex;
  font-size: 1.4rem;
  text-decoration: none;

  &:focus {
    box-shadow: none;
  }

  &.active {
    .icon {
      color: $secondary;

      .circle {
        opacity: 1;
      }
    }

    .text {
      color: $secondary;
    }
  }

  .text {
    margin-left: $spacer-6;
    color: $primary;
  }
}

