@use "~scss/variables" as *;

.icon-link {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: $font-size-md;
  line-height: 1;
  text-decoration: none;

  &:focus {
    box-shadow: none;
  }

  &.left {
    font-size: $font-size-sm;

    .text {
      order: -1;
      margin-left: 0;
      margin-right: $spacer-2;
    }
  }

  &.active {
    .icon {
      color: $secondary;

      .circle {
        opacity: 1;
      }
    }

    .text {
      color: $secondary;
    }
  }

  .text {
    color: $primary;
    margin-left: $spacer-6;
    transition: $transition-all;
  }
}

