@use '~scss/variables' as *;

.scan-section {
  .scanner {
    background: $black;
    border-radius: $border-radius-lg;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .indicator-top-left {
      position: absolute;
      top: $spacer-8;
      left: $spacer-8;
      height: $spacer-8;
      width: $spacer-8;
      border-top: $spacer-0_5 solid $white;
      border-left: $spacer-0_5 solid $white;
      border-top-left-radius: $border-radius-lg;
    }

    .indicator-top-right {
      position: absolute;
      top: $spacer-8;
      right: $spacer-8;
      height: $spacer-8;
      width: $spacer-8;
      border-top: $spacer-0_5 solid $white;
      border-right: $spacer-0_5 solid $white;
      border-top-right-radius: $border-radius-lg;
    }

    .indicator-bottom-left {
      position: absolute;
      bottom: $spacer-8;
      left: $spacer-8;
      height: $spacer-8;
      width: $spacer-8;
      border-bottom: $spacer-0_5 solid $white;
      border-left: $spacer-0_5 solid $white;
      border-bottom-left-radius: $border-radius-lg;
    }

    .indicator-bottom-right {
      position: absolute;
      bottom: $spacer-8;
      right: $spacer-8;
      height: $spacer-8;
      width: $spacer-8;
      border-bottom: $spacer-0_5 solid $white;
      border-right: $spacer-0_5 solid $white;
      border-bottom-right-radius: $border-radius-lg;
    }

    .indicator-center {
      position: absolute;
      height: $spacer-6;
      width: $spacer-6;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before {
        content: '';
        display: block;
        background: $white;
        position: absolute;
        height: 100%;
        width: $spacer-0_5;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        content: '';
        display: block;
        background: $white;
        position: absolute;
        height: $spacer-0_5;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
