@use '~scss/variables' as *;

.guest-list {
  .guest {
    background: $white;
    border-radius: $border-radius-lg;
    color: $primary;
    display: block;
    overflow: hidden;
    margin-bottom: $spacer-4;
    padding: $spacer-4;
    transition: color $transition-time;

    &:hover {
      color: $secondary;

      .name, .date, .license {
        color: $secondary;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
    }

    .body {
      display: flex;
      justify-content: space-between;
    }

    .name {
      margin-top: 0;
      margin-bottom: 0;
      transition: color $transition-time;
    }

    .date {
      color: $gray-700;
      transition: color $transition-time;
    }

    .license {
      color: $gray-700;
      transition: color $transition-time;
    }
  }
}
