@use "~scss/variables" as *;
@use "~scss/mixins/breakpoints" as *;

.app-drawer {
  background: $white;
  height: calc(100vh);
  padding-top: $app-bar-height;
  position: fixed;
  top: 0;
  right: 100%;
  width: $app-drawer-width;
  transition: transform $transition-time;
  z-index: 99;

  &.active {
    transform: translateX(100%);
  }

  .icon-link {
    width: 100%;
    padding: $spacer-3 0;
  }

  @include media-breakpoint-down(md) {
    transition: all $transition-time;
    width: 100%;
  }
}

.app-drawer-filler {
  width: 0;
  transition: width $transition-time;

  &.active {
    width: $app-drawer-width;
  }

  @include media-breakpoint-down(md) {
    &.active {
      width: 0;
    }
  }
}

