@use "~scss/variables" as *;

.app-shell {
  .app-bar-filler {
    height: $app-bar-height;
  }

  .app-bar {
    align-items: center;
    background: $white;
    display: flex;
    height: $app-bar-height;
    padding: $spacer-4 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    .nav {
      align-items: center;
      display: flex;

      a {
        align-items: center;
        cursor: pointer;
        display: flex;
        text-decoration: none;
        user-select: none;

        &:focus {
          box-shadow: unset;
        }
      }
    }

    .toggle {
      margin-right: $spacer-6;
    }

    .logotype {
      color: $black;
      align-items: center;
      display: flex;
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      text-decoration: none;
      transition: $transition-all;
    }
  }

  .app-body {
    align-items: center;
    display: flex;
    min-height: calc(100vh - #{$app-bar-height * 2});
    padding-bottom: 54px * 1;
  }

  .app-footer {
    align-items: center;
    display: flex;
    height: $app-bar-height;
    padding: $spacer-4 0;
    position: relative;
    z-index: 100;

    .nav {
      align-items: center;
      display: flex;
      font-size: $font-size-sm;

      .item {
        margin: 0 $spacer-2;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &.link {
          color: $primary;
          font-weight: 700;
          text-decoration: none;
          transition: $transition-all;

          &:hover {
            color: $secondary;
          }
        }
      }

      .social {
        margin-left: auto;
      }
    }
  }
}
