@use "~scss/variables" as *;
@use "~scss/mixins/breakpoints" as *;

.app-shell {
  .app-bar-filler {
    height: $app-bar-height;
  }

  .app-bar {
    align-items: center;
    background: transparent;
    display: flex;
    height: $app-bar-height;
    padding: $spacer-4 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: background $transition-time;
    right: 0;
    left: 0;
    z-index: 100;

    &.active {
      background: $white;
      pointer-events: all;
    }

    .nav {
      align-items: center;
      display: flex;

      a {
        align-items: center;
        cursor: pointer;
        display: flex;
        text-decoration: none;
        user-select: none;

        &:focus {
          box-shadow: unset;
        }
      }
    }

    .toggle {
      pointer-events: all;

      .icon {
        margin-right: $spacer-6;
      }
    }

    .logotype {
      color: $black;
      align-items: center;
      display: flex;
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      line-height: 1;
      text-decoration: none;
    }

    @include media-breakpoint-down(md) {
      background: $white;
    }
  }

  .app-body {
    display: flex;
    min-height: calc(100vh - #{$app-bar-height * 2});

    .app-container {
      display: flex;
      flex: 1 1 auto;
      max-width: 100%;
      padding-bottom: $app-bar-height;

      > * {
        width: 100%;
      }
    }
  }

  .app-footer {
    align-items: center;
    background: $white;
    display: flex;
    height: $app-bar-height;
    padding: $spacer-4 0;
    position: relative;
    z-index: 100;

    @include media-breakpoint-down(md) {
      z-index: 98;
    }

    @include media-breakpoint-down(sm) {
      height: unset;
    }

    .nav {
      align-items: center;
      display: flex;
      font-size: $font-size-sm;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }

      .item {
        margin: 0 $spacer-2;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        @include media-breakpoint-down(sm) {
          &:nth-child(2) {
            margin-left: 0;
          }
        }

        &.copyright {
          @include media-breakpoint-down(sm) {
            order: 2;
          }
        }

        &.link {
          color: $primary;
          font-weight: 700;
          text-decoration: none;
          transition: $transition-all;

          &:hover {
            color: $secondary;
          }
        }
      }

      .social {
        margin-left: auto;

        @include media-breakpoint-down(sm) {
          flex: 0 0 100%;
          margin-left: unset;
          margin-top: $spacer-4;
          margin-bottom: $spacer-4;
        }
      }
    }
  }
}

