@use '~scss/variables' as *;

.visit-detail-section {
  .visit-detail {
    margin-top: $spacer-8;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    .header {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacer-4;
    }

    .name {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
