@use "variables" as *;

html {
  box-sizing: border-box;
  color: $black;
  font-family: $main-font;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  border-color: $light-blue;
  box-shadow: 0 0 0 $spacer-1 rgb(0 123 255 / 25%);
  outline: 0;
}

body {
  font-size: $font-size;
}

img {
  height: auto;
  max-width: 100%;
}

label[hidden] {
  display: inline;
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  overflow: hidden;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important;
}

