@use "variables" as * ;
@use "mixins/forms" as * ;

form {
  border-radius: $spacer-1;
  padding: $spacer-4;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

input,
select,
textarea {
  @include input;
}

textarea {
  line-height: $line-height;
}

label {
  display: inline-block;
  font-size: $font-size-sm;
  line-height: 1;
  margin: 0 0 $spacer-1;
}

button,
input[type="button"],
input[type="file"]::file-selector-button,
input[type="reset"],
input[type="submit"] {
  @include button;
}

