@use "variables" as *;
@use "mixins/forms" as *;
@use "mixins/breakpoints" as *;

form {
  background: $white;
  border-radius: $border-radius-lg;
  border: $border;
  padding: $spacer-4;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    border: 0;
    padding: 0;
  }
}

label {
  display: inline-block;
  font-size: $font-size-sm;
  line-height: 1;
  margin: 0 0 $spacer-2;
  width: 100%;
}

select,
textarea,
input {
  margin: 0 0 $spacer-5;
}

select,
textarea,
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="range"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"] {
  background: $white;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $black;
  display: block;
  font-family: $main-font;
  height: $spacer-10;
  line-height: 1;
  padding: ($spacer-3 - $border-width * 2) $spacer-2;
  transition: $transition-all;
  width: 100%;
}

textarea {
  line-height: $line-height;
  height: auto;
}

[type="color"] {
  padding: 0 $spacer-0_5;
}

.btn,
button,
[type="button"],
[type="file"]::file-selector-button,
[type="reset"],
[type="submit"] {
  background-color: $black;
  border: 0;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: $spacer-2 $spacer-4;
  text-align: center;
  text-decoration: none;
  transition: $transition-all;

  &:hover {
    background-color: $gray-700;
  }

  @include media-breakpoint-down(sm) {
    padding: $spacer-3 $spacer-6;
  }
}

.btn,
button,
[type="checkbox"],
[type="button"],
[type="radio"],
[type="reset"],
[type="submit"] {
  & + & {
    margin-left: $spacer-4;
  }
}

[type="file"] {
  width: 100%;

  &::file-selector-button {
    margin: 0 $spacer-2 0 0;
  }
}

