@use "variables" as *;

.link-list {
  .link {
    background: $white;
    border-radius: $border-radius-lg;
    color: $primary;
    display: block;
    overflow: hidden;
    margin-bottom: $spacer-4;
    padding: $spacer-4;
    transition: color $transition-time;

    &:hover {
      .link-text {
        color: $secondary;
      }
    }

    .link-text {
      margin-top: 0;
      margin-bottom: 0;
      transition: color $transition-time;
    }
  }
}
