@use "variables" as *;
@use "card";

.link-list {
  .link {
    @extend .card;
    color: $primary;
    display: block;
    margin-bottom: $spacer-4;
    transition: color $transition-time;

    &:hover {
      .link-text {
        color: $secondary;
      }
    }

    .link-text {
      margin-top: 0;
      margin-bottom: 0;
      transition: color $transition-time;
    }
  }
}
