@use "variables" as * ;

@font-face {
  font-family: 'Outfit';
  font-style: bold;
  font-weight: 700;
  src: url('~assets/fonts/Outfit-Bold.ttf') format('truetype');
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $main-font;
  font-weight: 700;
  line-height: $line-height-sm;
  margin: $spacer-8 0 $spacer-4;
}

h1, .h1 {
  color: $black;
  font-size: 2em;
}

h2, .h2 {
  color: $black;
  font-size: 1.5em;
}

h3, .h3 {
  color: $black;
  font-size: 1.2em;
}

h4, .h4 {
  color: $black;
  font-size: 1em;
  letter-spacing: .025em;
  text-transform: uppercase;
}

h5, .h5 {
  color: $gray-600;
  font-size: 1em;
  letter-spacing: .025em;
  text-transform: uppercase;
}

h6, .h6 {
  color: $gray-600;
  font-size: $font-size-sm;
  font-weight: 400;
  letter-spacing: .025em;
  text-transform: uppercase;
}

a {
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

p {
  margin: $spacer-4 0;

  a:not(.btn) {
    color: $secondary;
    position: relative;
    text-decoration: none;

    &::after {
      background-color: $secondary;
      content: '';
      display: block;
      height: $spacer-0_5;
      opacity: 1;
      position: absolute;
      right: 0;
      bottom: -$spacer-0_5;
      left: 0;
      transition: $transition-all;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        opacity: 0;
      }
    }
  }
}

cite {
  color: $gray-600;
  font-size: $font-size-sm;
}

blockquote {
  font-style: italic;
  margin: $spacer-4 $spacer-5;

  cite {
    display: block;
    font-style: normal;
    margin: $spacer-2 0 0 ;
  }
}

code {
  color: $black;
  font-family: $mono-font;
}

data::after {
  content: ' (ID ' attr(value) ')';
  display: none;
  font-size: $font-size-sm;

  &:hover {
    display: inline;
  }
}

figure {
  margin: $spacer-4 0;
  text-align: center;
}

figcaption {
  > * {
    color: $gray-600;
    font-size: $font-size-sm;
    font-weight: 400;
    text-transform: none;
    margin: $spacer-2 0 $spacer-4;
  }
}

del {
  color: $gray-600;
}

hr {
  border: 0;
  border-top: 1px solid $gray-500;
  margin: $spacer-8 0;
}

ul,
ol {
  padding: 0 0 0 $spacer-5;

  li {
    margin: $spacer-1 0;
  }
}

// Mathjax
mjx-container {
  overflow: scroll;
}

pre {
  background: $white !important;
  overflow: scroll;
  padding: 0;

  code {
    background: transparent;
    padding: 0;
  }
}

var {
  font-family: $sub-font;
  font-weight: 600;
}

