@use "~scss/variables" as *;

.logotype {
  align-items: center;
  color: $black;
  display: flex;
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
}

