@use '~scss/variables' as *;

.search-results {
  .search-result {
    background: $white;
    border-radius: $border-radius-lg;
    overflow: hidden;
    margin-bottom: $spacer-4;
    padding: $spacer-4;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
    }

    .body {
      display: flex;
      justify-content: space-between;
    }

    .date {
      color: $gray-700;
    }

    .license {
      color: $gray-700;
    }
  }
}
