@use "variables" as * ;

@mixin button {
  background-color: $black;
  border: 2px solid $black;
  border-radius: .25em;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  padding: .125em .5em;
  text-decoration: none;
  transition: all .125s linear;

  &:hover {
    background-color: $white;
    color: $black;
  }
}
