@use "variables" as * ;

@mixin button {
  background-color: $black;
  border-radius: $spacer-1;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0 0 $spacer-4;
  padding: $spacer-2 $spacer-4;
  text-align: center;
  text-decoration: none;
  transition: $transition-all;

  &:hover {
    background-color: $black-hover;
  }
}

@mixin input {
  border: $spacer-0_25 solid $grey;
  border-radius: $spacer-1;
  box-sizing: border-box;
  color: $black;
  display: block;
  font-family: $main-font;
  line-height: 1;
  margin: 0 0 $spacer-4;
  padding: ($spacer-2 - $spacer-0_25) $spacer-2;
  width: 100%;
  transition: $transition-all;
}

